@{
    ViewData["Title"] = "CountEmployee";
}
<h4>Total Employees</h4>
<hr />
<h4>@ViewBag.Count</h4>
<hr />
<h4>Average Age</h4>
<hr />
<h4>@ViewBag.AvgAge</h4>
<hr />
<h4>Most Junior</h4>
<hr />
<h4>@ViewBag.MinAge</h4>
<hr />
<h4>Most Senior</h4>
<hr />
<h4>@ViewBag.MaxAge</h4>
